.nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: white;

        .left-side {
            display:flex;
        }

        .nav-link-wrapper {
            height: 22px;
            border-bottom: 1px solid transparent;
            transition: 0.5s ease-in-out;
            margin-right: 20px;
            text-transform: uppercase;
            font-size: 1rem;

            
            a {
                color: $orange;
                text-decoration: none;
                &:hover {
                    color: $dark-orange;
                }
            }

            &:hover {
                border-bottom:1px solid $dark-orange;
            }

            .nav-link-active {
                border-bottom: 1px solid $dark-orange;
                color: $dark-orange;
            }

        }

        

}