.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 83px;

    .left-column { 
        background-color: $offwhite;
    }

    .right-column {
        background-color: $dark-grey;
    }
}

h1 {
    color: $blue;
}